{% extends 'basic.html' %}

{% block title %}
Raspberry Chat
{% endblock %}

{% block stylesheet %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/chat.css') }}">
{% endblock %}

{% block body %}
<div class="all_chat">
    <h1>Chat room: {{ room }}</h1>
    <div id="not_chat_window">
         <div id="not"></div>
         <div id="msg"></div>
    </div>
    <form class="input"" id="msg_send_form">
          <input type="text" id="msg_send" placeholder="Enter your message">
          <button type="submit">Send</button>
    </form>
</div>
{% endblock %}

{% block script %}
<script src="https://cdn.socket.io/4.7.2/socket.io.min.js"></script>
<script>
   const socket = io();
   socket.on('connect', function () {
      socket.emit('join_room', {
         username: "{{ username }}",
         room: "{{ room }}"
      });

      let msg_send = document.getElementById('msg_send');
      document.getElementById('msg_send_form').onsubmit = function (e) {
          e.preventDefault();
	  let cat = msg_send.value.trim();
	  if (cat.length) {
	      socket.emit('send', {
	         username: "{{ username }}",
		 room: "{{ room }}",
		 message: cat
	      }) 
	  } 
	  msg_send.value = '';
	  msg_send.focus();
      } 
   });

   socket.on('give_msg', function (data) {
      console.log(data);
      const zametka = document.createElement('div');
      zametka.classList.add('zametka');
      zametka.innerHTML = `<b>${data.username}:</b> ${data.message}`;
      const msgSave = document.getElementById('msg');
      msgSave.appendChild(zametka);
      const chatWindows = document.getElementById('not_chat_window')
      chatWindows.scrollTop = chatWindows.scrollHeight;
   });

   socket.on('join_room_notification', function (data) {
      console.log(data)
      const join = document.createElement('div')
      join.classList.add('join')
      join.innerHTML = `<b>${data.username}</b> has joined chat<br>`
      document.getElementById('not').appendChild(join);
   });
</script>
{% endblock %}
